@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
.btn-primary {
  border-radius: 100px;
  width: 100%;
  padding: 8px;
  font-size: 14px;
  background-color: #03AC0E;
  color: #ffffff;
  border: 1px solid transparent;
}
.btn-primary:hover {
  background-color: #049C0E !important;
  color: #FAFAFA !important;
}

.btn-secondary {
  border-radius: 100px;
  width: 100%;
  padding: 8px;
  font-size: 14px;
  background-color: #FAFAFA;
  border: 1px solid #03AC0E;
  color: #03AC0E;
}
.btn-secondary:hover {
  background-color: #03AC0E !important;
  color: #FAFAFA !important;
}

.btn-shadow {
  box-shadow: 0px 8px 16px rgba(3, 172, 14, 0.24);
}

.fs13 {
  font-size: 14px;
}

button[disabled] {
  cursor: not-allowed;
}

.header .icon__back {
  color: #03AC0E;
  font-size: 30px;
  margin-right: 2px;
  margin-top: 2px;
  border: none;
  background: transparent;
}
.header .icon__search {
  background-color: transparent;
  border: none;
  padding: 0;
}

.category__card {
  font-size: 12px;
  width: 73px;
  margin-bottom: 34px;
  transition: all 200ms;
  cursor: pointer;
}
.category__card:hover {
  transform: scale(1.1);
}

.input {
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  box-sizing: border-box;
  padding-left: 50px;
  border: none;
  background-color: #F5F5F5;
  border-radius: 100px;
  outline: none;
  border: 1px solid transparent;
}
.input__label {
  position: absolute;
  top: 22px;
  left: 8px;
  transition: all 200ms;
  font-size: 14px;
  color: #7A7A7A;
  pointer-events: none;
}
.input__icon {
  position: absolute;
  left: 20px;
  top: 14px;
  padding: 10px 10px;
  font-size: 12px;
}
.input__float ~ .input__label {
  top: 8px;
  left: 4px;
  font-weight: 600;
  font-size: 10px;
}
.input__error {
  border: 1px solid red;
}

.input__otp {
  width: 74px;
  height: 74px;
  border-radius: 16px;
  background-color: #F5F5F5;
  border: none;
  outline: none;
  text-align: center;
}
.input__otp::-moz-placeholder {
  font-weight: 500;
  color: #292929;
}
.input__otp:-ms-input-placeholder {
  font-weight: 500;
  color: #292929;
}
.input__otp::placeholder {
  font-weight: 500;
  color: #292929;
}
.input__otp::-webkit-outer-spin-button, .input__otp::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.radio {
  background-color: #FAFAFA;
  border: 1px solid #ebebeb;
  border-radius: 16px;
  margin: 16px 0;
}
.radio__lable {
  width: 100%;
  text-align: left;
}
.radio__icon {
  width: 30px;
  height: 30px;
}

input[name=delivery] {
  accent-color: green !important;
  width: 24px;
  height: 24px;
}

.pesanan__tambah {
  color: #049C0E;
  font-size: 12px;
  cursor: pointer;
}

.order__delete {
  color: #ccc;
  border: none;
  padding: 0;
  font-size: 20px;
  background-color: transparent;
}
.order__delete:hover {
  color: rgb(97, 97, 97);
}
.order__btn {
  width: 23px;
  height: 10px;
}
.order__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.transaction__card {
  background-color: #FAFAFA;
  border-radius: 16px;
  padding: 16px;
  margin-top: 16px;
}
.transaction__card__status {
  background-color: #31b057;
  padding: 4px 12px;
  color: #fff;
  font-size: 8px;
}
.transaction__card__desc {
  color: #7A7A7A;
}
.transaction__card__date {
  font-size: 12px;
}

.bycategory__container {
  width: 104px;
  margin-bottom: 30px;
}
.bycategory__container .bycategory {
  cursor: pointer;
}
.bycategory__container .bycategory:hover .bycategory__img {
  transform: scale(1.1);
}
.bycategory__container .bycategory__img {
  width: 100%;
  height: 104px;
  overflow: hidden;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  transition: all 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bycategory__container .bycategory__title__container {
  margin-top: 16px;
  width: 104px;
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  color: #292929;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}
.bycategory__container .bycategory__price {
  font-size: 14px;
  margin-bottom: 16px;
  display: block;
}

.detail__product__category {
  display: inline-block;
  padding: 4px 12px 4px 12px;
  background-color: #EBEBEB;
  border-radius: 100px;
  color: #7A7A7A;
  font-size: 12px;
  font-weight: 600;
}
.detail__product__description {
  font-weight: 400;
  font-size: 12px;
  color: #7A7A7A;
}

.login__title {
  color: #03AC0E;
}
.login__choice {
  font-size: 12px;
  color: #7A7A7A;
  margin: 20px 0;
}
.login__text {
  font-size: 12px;
  margin: 16px 0;
}
.login__form {
  width: 100%;
}

.category__toko {
  height: 100%;
}
.category__toko__img {
  width: 74px;
}
.category__toko__rating {
  background-color: #03AC0E;
  font-size: 12px;
  width: 53px;
  bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.category__toko__description {
  width: 230px;
}
.category__toko__address {
  font-size: 12px;
  font-weight: 400;
  color: #7A7A7A;
  margin-bottom: 4px;
}
.category__toko__button {
  padding: 4px 12px;
  font-size: 8px;
  border: none;
  background-color: rgba(3, 172, 14, 0.1333333333);
  border-radius: 100px;
  color: #03AC0E;
  font-weight: 600;
  margin: 0 4px;
}
.category__toko__button:focus {
  background-color: #03AC0E;
  color: #ffffff;
}

.transaction__select {
  color: #7A7A7A;
}
.transaction__select__active {
  color: #03AC0E;
  border-bottom: 3px solid #03AC0E;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.layout {
  max-width: 375px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 16px;
}

.fw600 {
  font-weight: 600;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fw600-fs14 {
  font-weight: 600;
  font-size: 14px;
}

.fs14 {
  font-size: 14px;
}

.fs12 {
  font-size: 12px;
}

.fs10 {
  font-size: 10px;
}

.err-color {
  color: #f62845;
}

.cursor-pointer {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */