@use "./components/button";
@use "./components/header";
@use "./components/cardCategory";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.layout{
    max-width: 375px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.200);
    padding: 16px;
}

.fw600{
    font-weight: 600;
}

.fw400{
    font-weight: 400;
}