$primary: #03AC0E;
$green:#049C0E;
$greenLinear:linear-gradient(88.88deg, #03AC0E 0%, rgba(23, 194, 34, 0.69) 99.99%, rgba(3, 172, 14, 0.44) 100%);
$greenLinear2: linear-gradient(57.21deg, #00E40F 0%, #017109 100%);
$blue: #1577B4;
$black:#292929;

