@use "../abstracts/variabels" as *;
@use "../abstracts/mixin";

@mixin button-primary {
    border-radius: 100px;
    width: 100%;
    padding: 8px;
    font-size: 14px;
}

.btn-primary{
    @include button-primary;
    background-color: $primary;
    color: #FFFFFF;
    border: 1px solid transparent;

    &:hover{
        @include mixin.btn-hover($green, $white)
    }
}

.btn-secondary{
    @include button-primary;
    background-color: $white;
    border: 1px solid $primary;
    color: $primary;
    

    &:hover{
        @include mixin.btn-hover($primary, $white);
    }
}

.btn-shadow{
    box-shadow: 0px 8px 16px rgba(3, 172, 14, 0.24);
}

.fs13{
    font-size: 14px;
}