@use "../abstracts/mixin";

.category__card{
    font-size: 12px;
    width: 73px;
    margin-bottom: 34px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all 200ms;
    cursor: pointer;
    
    &:hover{
        transform: scale(1.1);
    }
}